# GitHub CI build pipeline
name: Awesome Calculator CI build

on:
  push:
    branches:
      - master
      - main
      - dev
  pull_request:
    branches:
      - master
      - main
      - dev
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.12
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    # - name: Test with pytest
    #   run: |
    #     pip install pytest pytest-cov
    #     pytest python-docker/test_app.py --doctest-modules --junitxml=junit/test-results.xml --cov=com --cov-report=xml --cov-report=html

  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5

      - name: Log in to Docker Hub
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}


    # - name: Install dependencies
    #   run: |
    #     cd src
    #     python -m pip install --upgrade pip
    #     pip install coverage
    #     if  [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    # - name: Run Unit Tests and generate coverage report
    #   run: |
    #     cd src
    #     python -m unittest -v
    #     coverage run -m unittest
    #     coverage report
    #     coverage html
    # - name: Archive code coverage html report
    #   uses: actions/upload-artifact@v2
    #   with:
    #     name: code-coverage-report
    #     path: src/htmlcov
    # - name: Run package creation
    #   run: |
    #     cd src
    #     python -m pip install --user --upgrade build
    #     python -m build
    # - name: Archive package
    #   uses: actions/upload-artifact@v2
    #   with:
    #     name: awesome-calculator
    #     path: src/dist